html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {    
    min-height: 100vh;
    padding: 1.4em;
    display: grid;
    grid-template-columns: minmax(auto, max-content);
    gap: 1.4em;
    align-content: center;
    justify-content: center;    
    font-family: bookmania, serif;
    font-size: 2rem;
    font-size: clamp(1.25rem, 0.6875rem + 2.5000vw, 2rem); /* repsonsive typo */
    font-weight: 300;
    font-feature-settings: "liga", "dlig", "ss04", "ss08", "ss10";
    line-height: 1.4;
    background-color: oldlace;    
}

h1 {
    font-style: italic;    
    text-transform: capitalize;
}

.salt1 {
    font-feature-settings: "salt" 1;
}

.salt2 {
    font-feature-settings: "salt" 2;
}

.salt3 {
    font-feature-settings: "salt" 3;
}

.salt4 {
    font-feature-settings: "salt" 4;
}

.salt5 {
    font-feature-settings: "salt" 5;
}

.salt6 {
    font-feature-settings: "salt" 6;
}

.salt7 {
    font-feature-settings: "salt" 7;
}

.salt8 {
    font-feature-settings: "salt" 8;
}

.salt9 {
    font-feature-settings: "salt" 9;
}

.salt10 {
    font-feature-settings: "salt" 10;
}

.salt14 {
    font-feature-settings: "salt" 14;
}

.salt12 {
    font-feature-settings: "salt" 12;
}

.salt19 {
    font-feature-settings: "salt" 19;
}

.salt20 {
    font-feature-settings: "salt" 20;
}

.salt24 {
    font-feature-settings: "salt" 24;
}

footer {
    font-feature-settings: "smcp", "c2sc";
} 